@font-face
    font-family 'PT Sans Caption'
    font-weight 400
    src url('../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.eot')
    src url('../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.eot') format('embedded-opentype'),
        url('../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.woff2') format('woff2'),
        url('../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.woff') format('woff'),
        url('../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.ttf') format('truetype'),
        url('../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.svg#PT_SansCaptionWebRegular') format('svg')

@font-face
    font-family 'PT Sans Caption'
    font-weight 700
    src url('../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.eot')
    src url('../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.eot') format('embedded-opentype'),
        url('../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.woff2') format('woff2'),
        url('../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.woff') format('woff'),
        url('../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.ttf') format('truetype'),
        url('../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.svg#PT_SansCaptionWebBold') format('svg')

html
body
    height 100%
    min-height 700px
    position relative

body
    font-family 'PT Sans Caption'
    font-size 14px
    line-height 1.4
    background #b2b5ba
    font-weight 400

body
input
button
textarea
    font-family 'PT Sans Caption'

input
button
textarea
    ibreset()

button
    cursor pointer
    &::-moz-focus-inner
    &::-moz-focus-inner
        border: 0
        padding: 0

a
    text-decoration none
    color #b3c0ce
    text-decoration underline
    &:hover
        text-decoration none

em
i
    font-style italic

b
strong
    font-weight 700

#wrapper
    background url('../images/content/background.png')
    overflow hidden
    max-width 1600px
    min-width 1000px

.btn
  font-weight 500
  background-color #dfe4e9
  text-align center
  display inline-block
  border 1px solid #000
  padding 7px 24px 5px
  margin-bottom 8px
  font-size 15px
  position relative
  color #000
  text-decoration none

  &.m-big
    font-size 18px
    font-weight 500
    padding-bottom 6px

  &.m-wide
    padding-left 72px
    padding-right 72px

  &.m-wide_l
    padding-left 40px
    padding-right 40px

  &.m-fz18
    font-size 18px

  &.m-wide_xl
    width 225px

  &:hover
    background-color #f0f6fb


  &:before
    content ''
    display block
    position absolute
    top 0
    left 0
    width 100%
    height 1px
    background-color #fff

  &:after
    content ''
    display block
    position absolute
    bottom 0
    left 0
    width 100%
    height 1px
    background-color #969a9d
  &:active
    top 1px

// @-moz-document url-prefix()
//   body
//   input
//   button
//   textarea
//     font-family 'Sintony' !important
