html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'PT Sans Caption';
  font-weight: 400;
  src: url("../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.eot");
  src: url("../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.eot") format('embedded-opentype'), url("../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.woff2") format('woff2'), url("../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.woff") format('woff'), url("../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.ttf") format('truetype'), url("../fonts/PT_SansCaptionWebRegular/PT_SansCaptionWebRegular.svg#PT_SansCaptionWebRegular") format('svg');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-weight: 700;
  src: url("../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.eot");
  src: url("../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.eot") format('embedded-opentype'), url("../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.woff2") format('woff2'), url("../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.woff") format('woff'), url("../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.ttf") format('truetype'), url("../fonts/PT_SansCaptionWebBold/PT_SansCaptionWebBold.svg#PT_SansCaptionWebBold") format('svg');
}
html,
body {
  height: 100%;
  min-height: 700px;
  position: relative;
}
body {
  font-family: 'PT Sans Caption';
  font-size: 14px;
  line-height: 1.4;
  background: #b2b5ba;
  font-weight: 400;
}
body,
input,
button,
textarea {
  font-family: 'PT Sans Caption';
}
input,
button,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #b3c0ce;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
em,
i {
  font-style: italic;
}
b,
strong {
  font-weight: 700;
}
#wrapper {
  background: url("../images/content/background.png");
  overflow: hidden;
  max-width: 1600px;
  min-width: 1000px;
}
.btn {
  font-weight: 500;
  background-color: #dfe4e9;
  text-align: center;
  display: inline-block;
  border: 1px solid #000;
  padding: 7px 24px 5px;
  margin-bottom: 8px;
  font-size: 15px;
  position: relative;
  color: #000;
  text-decoration: none;
}
.btn.m-big {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 6px;
}
.btn.m-wide {
  padding-left: 72px;
  padding-right: 72px;
}
.btn.m-wide_l {
  padding-left: 40px;
  padding-right: 40px;
}
.btn.m-fz18 {
  font-size: 18px;
}
.btn.m-wide_xl {
  width: 225px;
}
.btn:hover {
  background-color: #f0f6fb;
}
.btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.btn:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #969a9d;
}
.btn:active {
  top: 1px;
}
#wrapper {
  background: #dfe4e8 url("../images/content/light.png");
  background-position: center center;
  background-repeat: no-repeat, repeat;
  min-height: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  position: relative;
}
.m-hide {
  display: none;
}
.m-show {
  display: block;
}
#header {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.1);
  height: 130px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 34px 24px;
  position: relative;
  z-index: 1;
}
#header #header--logo {
  float: left;
  width: 120px;
}
#header #header--logo img {
  width: 120px;
}
#header .info {
  width: calc(100% - 571px);
  float: left;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 0;
}
#header .info--headline {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
#header .info--desc {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6c7883;
}
#header .info--desc span {
  color: #ca424a;
  display: inline-block;
}
#header .info--desc span:first-letter {
  text-decoration: underline;
}
.download {
  float: right;
  width: 441px;
  margin-top: 12px;
  text-align: center;
}
.download h2 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}
.download a {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  padding: 0 28px;
  letter-spacing: 1px;
}
.download a:before {
  content: '';
  display: inline-block;
  position: absolute;
}
.download a.download--windows:before {
  margin-left: -36px;
  margin-top: -5px;
  background-image: url("../images/design/sprite.png");
  background-position: -366px -392px;
  width: 25px;
  height: 25px;
}
.download a.download--mac:before {
  margin-left: -30px;
  margin-top: -6px;
  background-image: url("../images/design/sprite.png");
  background-position: -339px -392px;
  width: 25px;
  height: 25px;
}
.download a.download--linux:before {
  margin-left: -30px;
  margin-top: -5px;
  background-image: url("../images/design/sprite.png");
  background-position: -393px -392px;
  width: 25px;
  height: 25px;
}
@media (max-width: 1400px) {
  #header .info--headline {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  #header {
    padding: 18px 34px 18px;
    height: 110px;
  }
  #header #header--logo {
    width: 100px;
  }
  #header #header--logo img {
    width: 100px;
  }
  #header .info {
    padding: 0 40px;
  }
  #header .info--headline {
    font-size: 15px;
    margin-bottom: 2px;
  }
  #header .info--desc {
    font-size: 13px;
    line-height: 16px;
  }
  #header .info i {
    display: block;
  }
}
#content {
  width: 100%;
  padding-bottom: 124px;
  position: absolute;
  top: 50%;
  margin-top: -275px;
}
@media (max-height: 800px) {
  #content {
    margin-top: -190px;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -10px !important;
  }
}
#footer {
  min-width: 1000px;
  max-width: 1600px;
  margin: -59px auto 0;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  background-color: #6c7883;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 18px 4px;
  text-align: center;
  color: #a1a8ae;
  position: relative;
  overflow: hidden;
}
#footer .footer--copy {
  float: left;
  padding-top: 8px;
}
#footer .footer--contact {
  float: right;
}
.m-overlay {
  z-index: 9999;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.popup {
  display: none;
  position: fixed;
  width: 600px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  margin-top: 10%;
  left: 50%;
  margin-left: -300px;
  background-color: #dfe4e9;
  z-index: 10000;
  text-align: center;
  padding: 24px 50px 18px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}
.popup.m-show_popup {
  display: block;
}
.popup h2 {
  color: #2e3842;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.popup--close {
  display: inline-block;
  background-image: url("../images/design/sprite.png");
  background-position: -420px -392px;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.popup h2 {
  margin-bottom: 12px;
}
.popup form {
  width: 480px;
  margin: 0 auto;
}
.popup form label {
  display: inline-block;
  width: 120px;
  text-align: left;
  float: left;
  position: relative;
  top: 12px;
}
.popup form input,
.popup form textarea {
  display: inline-block;
  margin: 5px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 130px);
  background-color: #fff;
  border: 1px solid #000;
  padding: 6px 10px;
  font-size: 14px;
}
.popup form textarea {
  height: 120px;
}
.popup form .btn {
  margin-top: 12px;
}
.get--headline {
  margin-bottom: 30px !important;
}
.download_block {
  height: 194px;
}
.download_block--other {
  color: #2c3842;
  font-size: 16px;
  margin-bottom: 4px;
}
.download_block .utopia--os {
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}
.download_block .utopia--os:before {
  content: '';
  display: block;
  margin: 0 auto 4px;
}
.download_block .utopia--os.m-mac:before {
  background-image: url("../images/design/sprite.png");
  background-position: -339px -392px;
  width: 25px;
  height: 25px;
}
.download_block .utopia--os.m-windows:before {
  background-image: url("../images/design/sprite.png");
  background-position: -366px -392px;
  width: 25px;
  height: 25px;
}
.download_block .utopia--os.m-linux:before {
  background-image: url("../images/design/sprite.png");
  background-position: -393px -392px;
  width: 25px;
  height: 25px;
}
.utopia--os_sub {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  margin: 0 16px 20px;
}
.utopia--os_sub:before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 8px;
}
.utopia--os_sub.m-linux:before {
  background-image: url("../images/design/sprite.png");
  background-position: -393px -392px;
  width: 25px;
  height: 25px;
}
.utopia--os_sub.m-windows:before {
  background-image: url("../images/design/sprite.png");
  background-position: -366px -392px;
  width: 25px;
  height: 25px;
}
.utopia--os_sub.m-mac:before {
  background-image: url("../images/design/sprite.png");
  background-position: -339px -392px;
  width: 25px;
  height: 25px;
}
.select--send_width {
  margin: 4px 0;
}
.select--send_width .select2-container {
  width: calc(100% - 130px) !important;
}
.select--send_width_xl {
  margin: 4px 0 10px;
}
.select--send_width_xl .select2-container {
  width: 275px !important;
}
.select2-container--open {
  z-index: 10000;
}
.select--full_width .select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #000;
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: left;
  line-height: 32px;
}
.select2-selection {
  outline: none;
}
.select2-dropdown {
  border-radius: 0 !important;
  border: 1px solid #000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 30px;
  height: 30px;
  background-color: #dee4e9;
  border-left: 1px solid #000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  margin-left: -15px;
}
.select2-container .select2-selection--single {
  height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
  border-width: 8px 6px 0 6px;
  margin-left: -6px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent;
  border-width: 0 6px 8px 6px;
  margin-top: -5px;
}
.bx-wrapper .bx-viewport:before {
  content: '';
  position: absolute;
  z-index: 1;
  margin-left: -20px;
  width: 150px;
  height: 500px;
  background: url("../images/content/bg_gradient.png");
}
.bx-wrapper .bx-viewport:after {
  content: '';
  position: absolute;
  right: 0;
  transform: rotate(180deg);
  z-index: 1;
  margin-left: -20px;
  width: 150px;
  height: 500px;
  background: url("../images/content/bg_gradient.png");
}
.slider {
  width: 100%;
  height: 550px;
  position: relative;
}
.slider:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 550px;
  background: url("../images/content/globe.png") center center no-repeat;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.slider.m-opacity:before {
  opacity: 0.35;
}
.slider #bxslider li {
  min-height: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.slider .bxslider-info {
  text-align: center;
}
.slider .bxslider-info h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2c3842;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.slider .bxslider-info h2 .m-big {
  font-size: 47px;
}
.slider .bxslider-info h2 .m-red {
  color: #d23f4a;
}
.slider .bxslider-info h2 .m-new_small {
  font-size: 16px;
  display: block;
}
.slider .bxslider-info .m-headline_promol {
  display: inline-block;
  background: #d23f4a;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 18px 2px;
  margin-bottom: 2px;
  transform: rotate(-3deg);
}
.slider .bxslider-info .m-headline_promol span {
  display: inline-block;
  transform: rotate(3deg);
}
.slider .bxslider-info .m-headline_promor {
  display: inline-block;
  background: #d23f4a;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 18px 0;
  margin-top: -2px;
  transform: rotate(2deg);
}
.slider .bxslider-info .m-headline_promor span {
  display: inline-block;
  transform: rotate(-2deg);
}
.slider .bxslider-info img {
  margin: 24px 0 10px;
}
.slider .bxslider-info .info--description {
  font-size: 15px;
  color: #2c3842;
  margin-bottom: 10px;
  padding: 0 100px;
}
.slider .bxslider-info .info--description span {
  display: inline-block;
  color: #fff;
  background-color: #ca424a;
  padding: 1px 3px 1px 5px;
}
.slider .bxslider-info .headline_promo {
  font-size: 30px;
}
.slider .bxslider-info.first-item h2 {
  padding-top: 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 2px;
}
.slider .bxslider-info.first-item .info--description {
  font-size: 18px;
  text-transform: uppercase;
  color: #6c7883;
}
.slider .bxslider-info.first-item .button {
  margin-top: 100px;
}
.slider .secure_list {
  text-align: center;
  overflow: hidden;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 48px;
}
.slider .secure_list p {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 40px;
  position: relative;
  width: 31.3%;
  padding: 0 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.slider .secure_list p:before {
  content: '';
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto 20px;
}
.slider .secure_list p.secure_list--chat:before {
  background-image: url("../images/design/sprite.png");
  background-position: -203px -463px;
  width: 42px;
  height: 42px;
}
.slider .secure_list p.secure_list--connection:before {
  background-image: url("../images/design/sprite.png");
  background-position: -159px -463px;
  width: 42px;
  height: 42px;
}
.slider .secure_list p.secure_list--email:before {
  background-image: url("../images/design/sprite.png");
  background-position: -223px -392px;
  width: 42px;
  height: 38px;
}
.slider .secure_list p.secure_list--general:before {
  background-image: url("../images/design/sprite.png");
  background-position: -179px -392px;
  width: 42px;
  height: 38px;
}
.slider .secure_list p.secure_list--bell:before {
  background-image: url("../images/design/sprite.png");
  background-position: -247px -463px;
  width: 42px;
  height: 42px;
}
.slider .secure_list p.secure_list--gl:before {
  background-image: url("../images/design/sprite.png");
  background-position: -267px -392px;
  width: 42px;
  height: 30px;
}
.slider .secure_list p.secure_list--data:before {
  background-image: url("../images/design/sprite.png");
  background-position: -83px -392px;
  width: 94px;
  height: 41px;
  margin-top: 10px;
}
.slider .secure_list p.secure_list--hidden_data:before {
  background-image: url("../images/design/sprite.png");
  background-position: -115px -463px;
  width: 42px;
  height: 52px;
}
.slider .secure_list p.secure_list--resist:before {
  background-image: url("../images/design/sprite.png");
  background-position: -60px -463px;
  width: 53px;
  height: 54px;
}
.slider .secure_list p.secure_list--wall:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px -463px;
  width: 58px;
  height: 60px;
}
.slider .secure_list p.secure_list--newtwork:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px -392px;
  width: 81px;
  height: 69px;
  margin-top: -8px;
}
.slider .secure_list p.secure_list--network_prive:before {
  background-image: url("../images/design/sprite.png");
  background-position: 0px -525px;
  width: 49px;
  height: 57px;
}
@media (max-height: 800px) {
  .slider {
    height: 440px;
  }
  .slider:before {
    height: 440px;
  }
  .slider #bxslider li {
    min-height: 440px;
  }
  .slider .bxslider-info.first-item h2 {
    padding-top: 60px;
  }
  .slider .bxslider-info.first-item .button {
    margin-top: 40px;
  }
  .slider .secure_list p {
    font-size: 15px;
    width: 31.3%;
    padding: 0 2%;
    margin-bottom: 24px;
  }
  .bxslider-info h2 {
    margin-bottom: 12px !important;
  }
  .info--description {
    font-size: 16px !important;
  }
}
@media (min-height: 900px) {
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -20px !important;
  }
}
@media (min-height: 1000px) {
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -40px !important;
  }
}
@media (min-height: 1200px) {
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    bottom: -60px !important;
  }
}
