#content
  width 100%
  padding-bottom 124px
  position: absolute;
  top: 50%;
  margin-top: -275px;


@media (max-height 800px)
  #content
    margin-top -190px
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
    bottom -10px !important
