#footer
  min-width 1000px
  max-width 1600px
  margin -59px auto 0
  shadow(0 2px 6px rgba(0, 0, 0, 0.5))
  background-color #6c7883
  borderbox()
  padding 12px 18px 4px
  text-align center
  color #a1a8ae
  position relative
  overflow hidden

  .footer--copy
    float left
    padding-top 8px
  .footer--contact
    float right
