sliderHeight = 550px

.bx-wrapper .bx-viewport
  &:before
    content ''
    position absolute
    z-index 1
    margin-left -20px
    width 150px
    height 500px
    background url('../images/content/bg_gradient.png')
  &:after
    content ''
    position absolute
    right 0
    transform rotate(180deg)
    z-index 1
    margin-left -20px
    width 150px
    height 500px
    background url('../images/content/bg_gradient.png')
.slider
  width 100%
  height sliderHeight
  position relative
  &:before
    content ''
    position absolute
    width 100%
    height sliderHeight
    background url("../images/content/globe.png") center center no-repeat
    transition opacity 0.3s
  &.m-opacity:before
    opacity 0.35

  #bxslider li
    min-height sliderHeight
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center
    align-content center
    align-items center

  .bxslider-info
    // width 390px
    text-align center
    h2
      font-size 24px
      line-height 30px
      font-weight 700
      color #2c3842
      margin-bottom 30px
      text-transform uppercase
      .m-big
        font-size 47px
      .m-red
        color #d23f4a
      .m-new_small
        font-size 16px
        display block

    .m-headline_promol
      display inline-block
      background #d23f4a
      color #fff
      font-size 22px
      text-transform uppercase
      line-height 30px
      font-weight 700
      padding 10px 18px 2px
      margin-bottom 2px
      transform rotate(-3deg)
      span
        display inline-block
        transform rotate(3deg)

    .m-headline_promor
      display inline-block
      background #d23f4a
      color #fff
      font-size 22px
      text-transform uppercase
      line-height 30px
      font-weight 700
      padding 10px 18px 0
      margin-top -2px
      transform rotate(2deg)
      span
        display inline-block
        transform rotate(-2deg)


    img
      margin 24px 0 10px
    .info--description
      font-size 15px
      color #2c3842
      margin-bottom 10px
      padding 0 100px

      span
        display inline-block
        color #fff
        background-color #ca424a
        padding 1px 3px 1px 5px

    .headline_promo
      font-size 30px
    &.first-item
      h2
        padding-top 100px
        text-transform uppercase
        letter-spacing 1px
        font-size 30px
        line-height 44px
        margin-bottom 2px

      .info--description
        font-size 18px
        text-transform uppercase
        color #6c7883

      .button
        margin-top 100px

  .secure_list
    text-align center
    overflow hidden
    width 100%
    borderbox()
    padding 0 48px
    p
      display inline-block
      font-size 15px
      line-height 20px
      margin-bottom 40px
      position relative
      width 31.3%
      padding 0 2%
      borderbox()
      text-align center

      &:before
        content ''
        display block
        text-align center
        position relative
        margin 0 auto 20px

      &.secure_list--chat:before
          sprite($s-secure_chat)
      &.secure_list--connection:before
          sprite($s-secure_connection)
      &.secure_list--email:before
          sprite($s-secure_email)
      &.secure_list--general:before
          sprite($s-secure_general)
      &.secure_list--bell:before
          sprite($s-secure_bell)
      &.secure_list--gl:before
          sprite($s-secure_gl)
      &.secure_list--data:before
          sprite($s-data)
          margin-top 10px
      &.secure_list--hidden_data:before
          sprite($s-hidden_data)
      &.secure_list--resist:before
          sprite($s-resist)
      &.secure_list--wall:before
          sprite($s-wall)
      &.secure_list--newtwork:before
          sprite($s-newtwork)
          margin-top -8px
      &.secure_list--network_prive:before
          sprite($s-network_prive)

@media (max-height 800px)
  .slider
    height 440px
    &:before
      height 440px

    #bxslider li
      min-height 440px

    .bxslider-info.first-item h2
      padding-top 60px

    .bxslider-info.first-item .button
      margin-top 40px

  .slider .secure_list p
      font-size 15px
      width 31.3%
      padding 0 2%
      margin-bottom 24px

  .bxslider-info
    h2
      margin-bottom 12px !important

  .info--description
    font-size 16px !important

@media (min-height 900px)
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
    bottom -20px !important

@media (min-height 1000px)
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
    bottom -40px !important

@media (min-height 1200px)
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
    bottom -60px !important
