#wrapper
  background: #dfe4e8 url("../images/content/light.png");
  background-position: center center;
  background-repeat: no-repeat, repeat;
  min-height 100%
  margin 0 auto
  shadow(0 0 6px rgba(0, 0, 0, 0.5))
  position relative

.m-hide
  display none
.m-show
  display block
